@import "projects/systelab-charts/sass/systelab-charts";

@font-face {
  font-family: 'digital-font';
  src: url('../../systelab-charts/assets/fonts/Segment7Standard.otf') format('opentype');
  font-style: normal;
}
