@import "projects/systelab-charts/sass/systelab-charts";

@font-face {
  font-family: 'digital-font';
  src: url('../../systelab-charts/src/assets/fonts/Segment7Standard.otf') format('truetype');
  font-style: normal;
}
