<div class="container-fluid">
    <div class="row mt-1">
        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Line Chart with added manual line</app-showcase-title>
            <systelab-chart [config]="lineChartConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Line Chart - Multiple Axis</app-showcase-title>
            <systelab-chart [config]="lineMultipleAxisChartConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Line Chart with timeline</app-showcase-title>
            <systelab-chart [config]="lineChartWithTimelineConfiguration"></systelab-chart>
            <button class="btn btn-primary btn-sm">Random TimeLine Chart Values</button>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Bar Chart</app-showcase-title>
            <systelab-chart [config]="barChartConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6 p-2">
            <app-showcase-title [href]="'chart'">Horizontal Bar Chart</app-showcase-title>
            <systelab-chart [config]="barChartHorizontalConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Radar Chart</app-showcase-title>
            <systelab-chart [config]="radarChartConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Pie Chart</app-showcase-title>
            <systelab-chart [config]="pieChartConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Doughnut Chart</app-showcase-title>
            <systelab-chart [config]="doughnutChartConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Bubble Chart</app-showcase-title>
            <systelab-chart [config]="bubbleChartConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Polar Area Chart</app-showcase-title>
            <systelab-chart [config]="polarAreaChartConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Mixed Line Chart and Bar Chart</app-showcase-title>
            <systelab-chart [config]="lineBarChartConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Line Chart with Annotation (Lines) Legend without color box</app-showcase-title>
            <systelab-chart [config]="lineChartWithAnnotationLinesConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Bubble Chart with Annotation (Box)</app-showcase-title>
            <systelab-chart [config]="bubbleChartWithAnnotationBoxConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Bubble Chart with Annotation (Box-Lines)</app-showcase-title>
            <systelab-chart [config]="bubbleChartWithAnnotationBoxLineConfiguration"></systelab-chart>
        </div>
        
        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Bubble Chart with stars as point style & Annotation (Ellipse)</app-showcase-title>
            <systelab-chart [config]="bubbleChartWithAnnotationEllipseConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Line Chart with line legend ,click event disabled and tooltip title prefix</app-showcase-title>
            <systelab-chart [config]="lineChartWithLineLegendConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Scatter Chart</app-showcase-title>
            <systelab-chart [config]="scatterChartConfiguration"></systelab-chart>
        </div>

        <div class="col-md-6  p-2">
            <app-showcase-title [href]="'chart'">Scatter Chart showing line</app-showcase-title>
            <systelab-chart [config]="scatterChartShowingLineConfiguration"></systelab-chart>
        </div>
    </div>
</div>
